.login-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    border:1px solid black;
    height: 70%;
    width: 80%;
    background-color: rgb(249, 243, 237);

  border-radius: 5px;
}

.login{
    display:flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
}

.loginImage{
    display:none;
}



.login-heading-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap: 0;
}
.login-heading-container>h3{
    margin: 0;
}
.login-heading-container>p{
    margin: 5px;
}
.login-heading-container>h1{
    margin: 15px;
}

.login-input-container{
    display:flex;
    flex-direction:column;
    gap: 10px;
    margin-bottom: 15px;
}

.login-button-container{
    margin-top:10px ;
    display:flex;
    flex-direction:column;
    gap: 10px;
}

.input-field{
    border-radius:5px ;
    padding:7px;
    width: 230px;
}

.normal-button{
    padding:7px;
    width: 250px;
}

.normal-button{
    background-color:#B2D8D8;
    transition: background-color 0.3s;
    border-radius:5px;
    cursor: pointer;
    font-size: 14px;
    border: none;
}

.normal-button:hover {
    background-color: #82bbbb;
  }
  

@media (min-width: 768px){
    .login-container{
        height: 450px;
        width: 350px;
    }
    .loginImage{
        width: 500px;
        clip-path: polygon(0% 0%, 16% 2%, 39% 0%, 83% 4%, 100% 0%, 100% 24%, 98% 48%, 100% 75%, 100% 100%, 75% 97%, 45% 100%, 1% 100%, 7% 81%, 0% 56%);
        
}
}

@media (min-width: 1024px){
    .login-container{
        height: 450px;
        width: 350px;
    }
    .loginImage{
        display: block;
        width: 500px;
        clip-path: polygon(0% 0%, 16% 2%, 39% 0%, 83% 4%, 100% 0%, 100% 24%, 98% 48%, 100% 75%, 100% 100%, 75% 97%, 45% 100%, 1% 100%, 7% 81%, 0% 56%);
        
}
.login{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    background-image: url("https://i.postimg.cc/W1qpMRXH/dudt1.jpg");
    background-size: cover;
}
}