/* .navbar{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items: center;
    height: 60px;
    background-color: antiquewhite;
    
}

.navbar-content{
    display:flex;
    flex-direction:row;
    gap: 20px;
}
   */
/* 
   .navbar{
    background-color: antiquewhite;
    padding: 10px;
   }

   .navbar-first{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
   }

   .navbar-content{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
   }

   @media (min-width: 1024px) {
        
   } */

   .navbar{
    display: flex;
    flex-direction: row;
    background-color: rgb(249, 243, 237);
    justify-content: space-around;
    align-items: center;
    
    width: 100%;
   }

   .navbar-content{
    display: flex;
    flex-direction: row ;
    gap: 5px;
    align-items: center;
   }

   .navbar-heading{
    font-size: 0.8rem;
   }
   .icon-nav{
    font-size: small;
}

   @media (min-width: 1024px) {
    .navbar-heading{
        font-size: 1rem;
       }

       .navbar-content{
        gap: 50px;
       }

   }