.navbar{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items: center;
    height: 60px;
    background-color: antiquewhite;
}

.navbar-content{
    display:flex;
    flex-direction:row;
    gap: 20px;
}
  