.postinput {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(249, 243, 237);
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    margin: 10px 20px;
    justify-content: space-between;
    width: 90%;
  }
  
  .postinput-first {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    padding: 10px;

  }
  
  .input-container {
    display: flex;
    margin-bottom: 10px;
   width: 90%;
   background-color: rgb(249, 243, 237);
   
  }
  
  .profilepic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .input-filed {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    background-color: rgb(249, 243, 237);
    outline: none;
  }
  
  .input-field:focus {

    border: none;
  }
  .post-button {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: #B2D8D8;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    margin-right: 10px;
  }
  
  .post-button:hover {
    background-color: #82bbbb;
  }

  .input-container-second{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  
    width: 93%;
  }


  @media (min-width: 1024px) {
    .postinput{
        width:700px;
    }
  }