.Feed{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    
}

.Feed-first{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.home-head{
    display: flex;
    color: antiquewhite;
    align-items:center;
    justify-content:center;
}

.feed-card{
    /* height: 800px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;  */
  /* background-color: rgb(71, 68, 65); */
}
.Feed >h2{
    color: antiquewhite;
    align-items: center;
}

.feed-card::-webkit-scrollbar{
    width: 0;
}

.suggestion{
    display: none;
}

 
@media (min-width: 1024px){
    .suggestion{
        display: normal;
    }


    .feed-card{
        height: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
      overflow-y: scroll;
      scrollbar-width: thin;
      scrollbar-color: transparent transparent; 
    }

    .Feed-first{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .suggestion{
        display: block;
    }
} 