.Feed{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

.Feed-first{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 50px;
    margin-top: 20px;
}

