
  
  .icon-tray{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .postCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 600px;
    background-color: antiquewhite;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    margin-bottom: 20px;
    
  }
  
  .profilepic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px;
  }
  
  .postCard p {
    margin: 0;
  }
  
  .fullName {
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
  }
  
  .createdAt {
    font-size: 12px;
    color: #999999;
    margin-left: 10px;
  }
  
  .username {
    font-size: 12px;
    color: #999999;
    margin-left: 10px;

  }
  
  .context-box{
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
 
  
  .contentpic {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px 0;
    
  }
  
  .postCard-first{
    display: flex;
    align-items: center
  }

  .icon-container{
    display: flex;
  }


  .input-filed{
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .post-button{
    padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  }

  .input-container{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    gap: 10px;
  }

  /* .ThreeDot{
    margin-left: 70px;
  } */

  .postCard-first-first{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .postCard-first{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }